<html>
    <head>
        <title> Selenium scan results </title>
        <link rel="stylesheet" type="text/css" href="css/style.css"></style>
        <link rel="stylesheet" type="text/css" href="css/lightbox.css"></style>
        <script type="text/javascript" src="js/lightbox-plus-jquery.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="index.html">Home</a>
            <a href="domains.html">Domains</a>
            <div class="subnav">
                <button class="subnavbtn" href="#">Status codes</button><i class="fa fa-caret-down"></i></button>
                <div class="subnav-content" id="nav_codes">
                    
                </div>
            </div>
        </div>
    </body>
</html>